<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de bord - Port de plaisance de Russell</title>
</head>

<body>

    <header>
        <h1>Tableau de bord - Port de plaisance de Russell</h1>
        <nav>
            <ul>
                <li><a href="/users/manage">Gestion des utilisateurs</a></li>
                <li><a href="/catways/manage">Gestion des catways</a></li>
                <li><a href="/reservations/manage">Gestion des réservations</a></li>
                <li><a href="#">Documentation de l'API</a></li>
                <li><a href="/auth/logout">Déconnexion</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section>

            <h2>Utilisateur connecté :</h2>

            <p><%= user.username %></p>
            <p><%= user.email %></p>

            <!--TODO : rajouter nom & email utilisateur-->

        </section>

        <!--TODO : rajouter date du jour bonjour-->

        <table>
            
            <caption>Liste des réservations en cours</caption>

            <thead>
                <tr>
                    <th>Numéro de catway</th>
                    <th>Nom du client</th>
                    <th>Nom du bateau</th>
                    <th>Date de début</th>
                    <th>Date de fin</th>
                </tr>
            </thead>

            <tbody>
                <% reservations.forEach(function(reservation) { %>
                    <tr>
                        <td><%= reservation.catwayNumber %></td>
                        <td><%= reservation.clientName %></td>
                        <td><%= reservation.boatName %></td>
                        <td><time datetime="<%= reservation.startDate %>"><%= new Date(reservation.startDate).toLocaleDateString('fr-FR') %></time></td>
                        <td><time datetime="<%= reservation.endDate %>"><%= new Date(reservation.endDate).toLocaleDateString('fr-FR') %></time></td> 
                    </tr>
                <% }); %>
            </tbody>
        </table>

    </main>


</body>

</html>