<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utilisateurs - Port de plaisance de Russell</title>
</head>

<body>
    <header>
        <h1>Gestion des utilisateurs - Port de plaisance de Russel</h1>
        <nav>
            <ul>
                <li><a href="/dashboard">Retour au tableau de bord</a></li>
                <li><a href="/auth/logout">Déconnexion</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <% if (error) { %>
            <div><%= error %></div>
        <% } %>
        <% if (success) { %>
            <div><%= success %></div>
        <% } %>

        <button onclick="window.location.href='/users/add'">Ajouter un utilisateur</button>

        <table>
            
            <caption>Liste des utilisateurs</caption>

            <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>Email de l'utilisateur</th>
                    <th>Modifier / Supprimer</th>
                 </tr>
            </thead>

            <tbody>
                <% users.forEach(function(user) { %>
                    <tr>
                        <td><%= user.username %></td>
                        <td><%= user.email %></td>
                        <td> 
                            <button onclick="window.location.href='/users/<%= user.email %>'">Détails</button>
                            <button onclick="window.location.href='/users/edit/<%= user.email %>'">Modifier</button>
                            <form action="/users/<%= user.email %>?_method=DELETE" method="POST">
                                <button type="submit" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?')">
                                    Supprimer
                                </button>
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        
    </main>

    <footer>
        <small>Vous pourrez trouver la documentation de l'API ici : <a href="../docs/">Documentation de l'API</a></small>
    </footer>

</body>
</html>